NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/gallery
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/gallery
APP_URL=http://localhost:3000
DATABASE_URL=
RESEND_API_KEY=
NOTIFICATION_FROM=Arcverex Samples <samples@arcverex.io>
NOTIFICATION_TO=ashish@arcverex.io
CRON_SECRET=
